@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="my-5">
            <h1>Crear Curriculum </h1>
            <a href="/Validaciones" class="btn mt-3 btn-primary">Crear CV</a>
        </div>
    </div>
</div>

<style>
    .row
    {
        justify-content: center;
        align-items:center;
    }
</style>