@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Crear tus Curriculum y destaca</h1>
            <a href="/Validaciones" class="btn mt-3 btn-primary">Crear CV</a>
        </div>
        <div class="col-md-6">
            <img style="width: 100%;" src="https://cdni.iconscout.com/illustration/premium/thumb/online-learning-3985676-3299327.png?f=webp" alt="Imagen de la página de destino" class="img-fluid">
        </div>
    </div>
</div>

<style>
    .row
    {
        display: flex;
        justify-content: center;
        align-items:center;
    }
</style>