html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
}

.custom-grid-cv {
    grid-template-columns: 20% 80%;
    justify-content: space-between;
    gap: 1em;
}

@media screen and (max-width: 768px)
{
    .custom-grid-cv {
        grid-template-columns: 100%;
    }
}

.container {
    max-width: 70%;
}
.header-cv {
    background: #497EFE;
    padding: 48px;
    width: 100%;
}

.custom-container-curriculum {
    max-width: 75%;
    margin: 0 auto;
}

.information-cv {
    background: #353A40;
}
.cv-image
{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
}
.grid-information-cv {
    background: #353A40;
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(3 ,1fr );
    place-items: center;
}
.custom-progress {
    background-color: #497EFE;
}

.custom-color {
    color: #497EFE !important;
}
    .grid-information-cv article,
    .grid-information-cv div {
        display: flex;
        align-items: center;
    }
.grid-information-cv p
{
    margin: 0 !important;
    margin-bottom: 0 !important;
}
.text-justify
{
    text-align: justify;
}

.footer
{
    background: #353A40 !important;
    color: #FFF !important;
    padding: 24px 0;
    text-align: center;
}